.\$font {
	&-small {
		font-size: 0.875rem;
		line-height: 1.45rem;
	}

	&-smaller {
		font-size: 0.75rem;
		line-height: 1.45rem;
	}

	&-large {
		font-size: 1.125rem;
		line-height: 1.85rem;
	}

	&-larger {
		font-size: 1.25rem;
		line-height: 2rem;
	}

	&-bold {
		font-weight: bold;
	}

	&-italic {
		font-style: italic;
	}
}
